<div class='full_row2' id="content">
  <div class="row">
    <div class="small-8 medium-6 large-5 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Our Cooks</h1>
        </div>
        <p><span>Find the best homemade food in London</span> Passionnate about food, fine cookers, our members love food and what you can do with it. </p>
      </div> 
    </div>
  </div>
</div>

<div class="row" data-equalizer>
  <%= render @users %>
</div>
