<h1>All Servings</h1>

<button><%= sort_link @q, :day %></button>
<button><%= sort_link @q, :price %></button>
<button><%= sort_link @q, :location %></button>


<hr>

<div class="row" data-equilizer>
<%= render @servings %>
</div>


