<div class='full_row1' id="content">
  <div class="row">
    <div class="small-8 medium-6 large-5 small-centered columns">
      <div class="header panel">
        <div class="sign">
          <h1>Homemade food</h1>
        </div>
        <p><span>Find the best homemade food in London</span> From a delicous salad to a big fat burger, find the best home made all over London made by skilled cookers!</p>
      </div> 
    </div>
  </div>
</div>

<ul class="small-block-grid-3">
  <li><!-- Your content goes here --></li>
  <li><button class="button text-transform"><%= sort_link @q, :day %></button>
<button><%= sort_link @q, :price %></button>
<button><%= sort_link @q, :location %></button></li>
  <li><!-- Your content goes here --></li>
</ul>



<%= render "servings/serving" %>



