

<div class="row">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
        <h1>Homemade food</h1>
      </div>
      <p><span>Find the best homemade food in London</span> In addition to their portability and minimal space requirements for storage, the Equalizer bars also simplify workouts by consolidating all exercises to a single machine that requires no weight stack.</p>
    </div> 
  </div>
</div>
<hr>

<button><%= sort_link @q, :day %></button>
<button><%= sort_link @q, :price %></button>
<button><%= sort_link @q, :location %></button>

<div class="row" data-equilizer>
<%= render @servings %>
</div>


