

<%= render "servings/serving" %>



<%= render partial: 'comments/form', locals: { commentable: @serving } %>
<%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @serving } %>

</div>

</div>