<div class="medium-4 columns" data-equalizer-watch>
<div class="card">
  <div class="image">
    <img src="<%= meal.image %>">
    <span class="title"><%= meal.title %></span>
  </div>
  <div class="content">
    <p><%= meal.type %></p>
    <p><%= meal.description %></p>
  </div>
   
</div>
</div>

