/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 
 @import "font-awesome-sprockets";
  @import "font-awesome";





 .row {
  width:100%;
 }

.row.spacer {
  margin-top: 1em,
}

.website-example.row.wide.spacer {
  margin-top: 1em,
}
.example-orbit {
  width: 100%;
}

.content {
 height: 140px;
 padding: 0px;
}

body {
  margin: 0 auto;
  background-color: rgba(255, 255, 237, 1); 
  height: 100%;
  font-family: 'Alegreya', serif;
}

button {
  color: white
}



.header.panel {
  margin: 3rem auto;
  border: 2px solid #444;
  background: #fff;
  
  p {
    font: 1rem "Avenir Next";
    padding: 1rem 2rem 2rem 2rem;
    margin-top: -1.25rem;
    
    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 75%;
      font-weight: bold;
    }
  }
  
  .sign {
    background:#fff;
    width: 150px;
    height: 2.4rem;
    border: 2px solid #444;
    position: relative;
    top: -2.5rem;
    margin: auto;
    
    h1 {
      text-transform: uppercase;
      font: bolder 0.875rem "Avenir Next";
      letter-spacing: 3px;
      color: #666;
      font-size: 70%;
      text-align: center;
      line-height: 2rem;
    }
  }
}


